name: Initial Bootstrap

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  bootstrap:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run initial bootstrap
        run: python update2025_seasonmonthly.py
        env:
            EBIRD_API_KEY: ${{ secrets.EBIRD_API_KEY }}

      - name: Commit generated files
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add .
          git commit -m "Initial monthly + seasonal generation" || echo "No changes"
          git push
