name: Monthly eBird Fetch

permissions:
  contents: write

on:
  schedule:
    - cron: "0 2 1 * *"
  workflow_dispatch:

jobs:
  run-fetch:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install pandas requests

      - name: Run fetch
        env:
          EBIRD_API_KEY: ${{ secrets.EBIRD_API_KEY }}
        run: |
          python fetch_data.py
          python generate_map.py
          python generate_summary.py
          python seasons_automatic.py

      - name: Commit changes
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add .
          git commit -m "Monthly auto update"
          git push
